<% sounds = @avatar.sounds.map { |sound| url_for(sound.file_path) } %>
<div data-controller="audio" data-audio-urls-value="<%= sounds.to_json %>" data-audio-correct-value="<%= @avatar.correct%>">
  <div class="container p-3 my-3" style="background-color: #f5b664;" data-controller="appearance">
    <div class="row justify-content-center align-items-center text-center">
      <div class="col-12 mb-3">
        <button data-action="click->audio#playAll" data-audio-target="button" class="btn btn-primary custom-large-btn">Start</button>
      </div>
      <% sounds = @avatar.sounds %>
      <% sounds.each_with_index do |sound, index| %>
        <div class="col-md-3 avatar-container mb-3">
          <div class="sound-icon-container">
            <% if sound.type_of_sound == "Beat" %>
              <img src="/assets/drum.jpg" alt="Drums" class="sound-icon">
            <% elsif sound.type_of_sound == "Harmony" %>
              <img src="/assets/grand-piano.png" alt="Piano" class="sound-icon">
            <% elsif sound.type_of_sound == "Melody" %>
              <img src="/assets/guitar.png" alt="Guitar" class="sound-icon">
              <% elsif sound.type_of_sound == "Bass" %>
              <img src="http://res.cloudinary.com/dlkdz1vb9/image/upload/v1716372515/o2l15ylqnuhcltojo2lg.png" alt="Bass" class="sound-icon">
            <% end %>
          </div>
          <button data-index="<%= index %>" data-sound-type="<%= sound.type_of_sound %>" data-sound-id="<%= sound.id %>" data-action="click->audio#unmute" class="btn-no-background">
            <%= image_tag @avatar.image_url, class: "img-fluid avatar avatar-image sound" , data: { target: "audio.avatar" } %>
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>
